
/* Style the game canvas */
#game-canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-background-color); 
    display: block;
  }

  /* Style for the game overlay */
 .game-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-semi-transparent-overlay-color); /* Semi-transparent black background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
/* Style for the overlay text */
.overlay-text {
    font-size: 24px;
}